.relative {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }
  
  .form-control.login-form-control {
    padding-right: 40px; /* Make space for the icon */
  }
  